.hero {
  /* background-image: url("../images/leaf_faded.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  padding: 150px 10px;
}

.hero-title{
  padding: 10px 25%;
  font-family: Caveat;
}

.hero-description {
  margin: 10px 15%;
}

.cto {
  margin: 10px;
}

h6 {
  font-size: 42pt;
  font-family: Caveat;
}
