.top-navbar {
  color: white;
  background-color: #050a07;
  font-size: 10pt;
  text-align: end;
}

.top-navbar-item {
  margin: 0px 10px;
}

.top-navbar-item-icon {
  margin: 0px 7px;
}

.navbar-brand {
  font-family: Caveat;
  font-size: 20pt !important;
}

.bottom-navbar {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
