.products {
    margin: 50px auto;
}

.products hr {
    width: 40%;
    margin: 20px auto;
}

.products-control-row {
    margin: 20px 10%;
    display: flex;
    justify-content: space-between;
}

.filter-option {
    border: none !important;
}

.filter-option h6 {
    margin: 0px !important;
    padding: 0px !important;
}

.filter-hardiness-zone-menu {
    max-height: 200px;
    overflow-y: scroll;
}

.filter-hardiness-zone-dropdown-container {
    display: flex;
    float: left; 
    align-items: center;
}

.filter-hardiness-zone-dropdown-container span {
    padding: 0px 10px;
}

.filter-cto {
    text-align: center;
    margin: 20px auto;
    margin-top: 50px;
}

.filter-category {
    margin: 10px 5% !important;
    align-items: center;
}

.filter-category-dropdown-toggle {
    text-align: end !important;
    margin: 0 !important;
}

.filter-category-dropdown {
    display: flex;
    justify-content: end !important;
}

.filter-category-dropdown-col {
    justify-content: end !important;
    align-items: end;
    padding: 0;
}

.products-no-results {
    font-size: 1.5em;
    margin: 20px 0px;
    margin-bottom: 30px;
}

.products-no-results-title {
    margin: 20px 10px;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.products-no-results-img {
    width: 70% !important;
    display: block;
    margin: 30px auto;
}

.products-no-results-container {
    text-align: center;
}